[SETTINGS]
#list phone numbers allowed to send text messages separated with a comma. Include the 1

# Old message detection
UTC_OFFSET = -8

URLS_TO_CHECK = google.com,bing.com,amazon.com

SECONDS_BETWEEN_CHECKS = 10
SECONDS_TO_POWER_OFF = 30
SECONDS_TO_WAIT_AFTER_POWER_ON = 300

#where to store to logfile
LOGFILE_DIRECTORY = ./

# This is the pin for the power relay. Takes the value in BOARD pin numbering, NOT GPIO numbers
RELAY_PIN = 22

# Enable the Display?
DISPLAY_ENABLED = True

# Set if you want to run this without sending messages
TEST_MODE = False
